<div class="container-fluid p-0">
  <div class="row justify-content-center">
    <div class="col-lg-8 p-0 main">
          <app-map [selectedAlert] = "selectedAlert"></app-map>
    </div>
    <div class="col-4 p-0 ">
      <div class="row selected">
          <b><p>ID: {{selectedAlert.userID}}</p>
          <p>Status: {{selectedAlert.status}}</p>
          <p>Date: {{selectedAlert.date}}</p></b>
      </div>
      <div class="row scroll">
        <div class="log" *ngFor="let alert of alerts.slice().reverse()">
            <app-log (click)="selectAlert(alert)" [log] = "alert"></app-log>
          </div>
      </div>
    </div>
  </div>
</div>