.scroll{
  min-height: 500px;
  max-height: 500px;
  overflow:scroll;
}
.selected{
  height:100px;
}
.log{
  width: 100%;
}
.logtitle{
  height:100px;
  font-family: 'Oswald', sans-serif;
}
.logtitle h1{
  font-size: 3rem;
  margin-top:20px;
}
.row{
  margin:0px;
}