/* You can add global styles to this file, and also import other style files */
.nav{
  border-bottom: 2px solid #ec4e20;
  padding: 10px 0px 10px 0px;
  top: 0;
}
.nav-link{
  margin-top:8px;
}
.navbar-brand{
  font-family: Tahoma;
  font-size: 2rem;
  color: #ec4e20;
}
.container-fluid{
  padding:0px;
}

body{
  color: #12130f;
  background: #fbfbfb;
}