<ul class="nav nav-fixed-top p-0">
  <h1 class="navbar-brand">TaizCorp</h1>
  <li class="nav-item" routerLink="live">
    <a class="nav-link">LIVE</a>
  </li>
  <li class="nav-item" routerLink="settings">
    <a class="nav-link">ADMIN</a>
  </li>
  <li class="nav-item" routerLink="/">
      <a class="nav-link">LOG OUT</a>
    </li>
</ul>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
<div class="footer">
  <div class="container-fluid">
    <p>Safety Device - Samuel Opper, Kevin Taisma, Anthony Gioino - 2019</p>
  </div>
</div>